@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-primary: var(--primary-500);
    --color-primary-50: var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);
    --color-primary-foreground: var(--primary-foreground);

    /* secondary */
    --color-secondary: var(--secondary-500);
    --color-secondary-50: var(--secondary-50);
    --color-secondary-100: var(--secondary-100);
    --color-secondary-200: var(--secondary-200);
    --color-secondary-300: var(--secondary-300);
    --color-secondary-400: var(--secondary-400);
    --color-secondary-500: var(--secondary-500);
    --color-secondary-600: var(--secondary-600);
    --color-secondary-700: var(--secondary-700);
    --color-secondary-800: var(--secondary-800);
    --color-secondary-900: var(--secondary-900);
    --color-secondary-foreground: var(--secondary-foreground);

    /* Gray */
    --color-gray: var(--gray-500);
    --color-gray-50: var(--gray-50);
    --color-gray-100: var(--gray-100);
    --color-gray-200: var(--gray-200);
    --color-gray-300: var(--gray-300);
    --color-gray-400: var(--gray-400);
    --color-gray-500: var(--gray-500);
    --color-gray-600: var(--gray-600);
    --color-gray-700: var(--gray-700);
    --color-gray-800: var(--gray-800);
    --color-gray-900: var(--gray-900);

    /* accent */
    --color-accent: var(--accent);
    --color-accent-foreground: var(--primary);
    /* Card */
    --color-card-btn: hsla(var(--card-btn));
    --color-card-btn-foreground: var(--card-btn-foreground);
    --shadow-btn: var(--card-btn-shadow);
    --color-text: var(--text);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --animate-fade-in: var(--fade-in);
}

:root {
    /* Text Color */
    --text: oklch(0.2997 0.0836 253.16);
    /* Primary Color Palette */
    --primary-50: oklch(0.9469 0.0292 236.9);
    --primary-100: oklch(0.9019 0.055 236.72);
    --primary-200: oklch(0.8122 0.1065 237.18);
    --primary-300: oklch(0.7283 0.1535 241.43);
    --primary-400: oklch(0.6453 0.1697 247.06);
    --primary-500: oklch(0.5114 0.1308 245.89);
    --primary-600: oklch(0.4349 0.1099 245.38);
    --primary-700: oklch(0.3541 0.0865 243.94);
    --primary-800: oklch(0.281 0.066974 242.2319);
    --primary-900: oklch(0.1891 0.0404 235.51);

    /* Secondary Color Palette */
    --secondary-50: oklch(0.973 0.0169 192.37);
    --secondary-100: oklch(0.9434 0.0376 188.34);
    --secondary-200: oklch(0.8888 0.0704 188.16);
    --secondary-300: oklch(0.8402 0.1001 186.66);
    --secondary-400: oklch(0.7951 0.1202 185.58);
    --secondary-500: oklch(0.7165 0.1175 184.95);
    --secondary-600: oklch(0.6064 0.0987 185.21);
    --secondary-700: oklch(0.494 0.0793 184.55);
    --secondary-800: oklch(0.3749 0.0587 184.95);
    --secondary-900: oklch(0.2422 0.034 185.53);

    /* Greyscale Palette */
    --gray-50: oklch(0.9803 0.0051 252.28);
    --gray-100: oklch(0.9689 0.0025 228.78);
    --gray-200: oklch(0.9296 0.0052 247.88);
    --gray-300: oklch(0.8574 0.0124 247.97);
    --gray-400: oklch(0.7587 0.0212 250.44);
    --gray-500: oklch(0.4152 0.0246 250.69);
    --gray-600: oklch(0.3933 0.0228 250.89);
    --gray-700: oklch(0.2974 0.0161 248.37);
    --gray-800: oklch(0.2331 0.0114 254.06);
    --gray-900: oklch(0.1676 0.0071 258.37);
    --gray-foreground: oklch(1 0 0);

    /* accent Color Palette */
    --accent: oklch(0.9585 0.0187 282.77);
    /* card*/
    --card-btn: 236 73% 96%;
    --card-btn-foreground: oklch(0.5982 0.208 272.61);

    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: var(--color-gray-200);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --fade-in: fade-in 0.3s ease-in-out;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-gray-900;
        font-family:
            'Lato',
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            'Segoe UI',
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            'Open Sans',
            'Helvetica Neue',
            sans-serif;
    }

    .container {
        @media (min-width: 321px) {
            @apply px-4;
        }
        @apply !mx-auto;
    }

    .scroll-container {
        @apply h-full w-full overflow-hidden pb-4;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
    }

    .bouncing-animation {
        animation: bouncing 0.5s ease-in-out infinite;
    }

    @keyframes bouncing {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-5px);
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

span:has(img.reset) {
    @apply h-auto w-auto;
}

.survey-container {
    @apply flex flex-col gap-4;
    & .sd-body--empty {
        font-weight: bold;
        min-height: unset;
        padding-top: unset;
        &::first-letter {
            text-transform: capitalize;
        }
    }
}

.svc-creator__banner {
    display: none !important;
}

.pac-container {
    border-top: none !important;
    @apply animate-fade-in rounded-xl border shadow;
}

.pac-container::after {
    @apply hidden;
}

.pac-item-query .pac-matched {
    @apply text-sm;
}
